n8n-backups/organograma-9K3D7q5Ijc0BTq9f.json
{"createdAt":"2025-04-13T04:50:06.980Z","updatedAt":"2025-04-13T09:58:24.000Z","id":"9K3D7q5Ijc0BTq9f","name":"Organograma","active":true,"nodes":[{"parameters":{"operation":"download","fileId":"01RUPP5KCT4JOSSEVADNF2NOUNJWIWHRNQ"},"type":"n8n-nodes-base.microsoftOneDrive","typeVersion":1,"position":[-1180,-380],"id":"2a63ca27-0579-461a-999b-b3706cf66534","name":"Baixa Organograma em PDF do Onedrive","retryOnFail":true,"notesInFlow":false,"alwaysOutputData":false,"executeOnce":false,"credentials":{"microsoftOneDriveOAuth2Api":{"id":"fLY9mh5n778dkLFB","name":"Microsoft Onedrive Alvaro"}}},{"parameters":{"method":"POST","url":"https://api.cloudmersive.com/convert/pdf/to/jpg","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"contentType":"binaryData","inputDataFieldName":"=data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-960,-380],"id":"fece65c5-a8f9-4c48-88cf-ac22f8eb8614","name":"Converte PDF > JPG","credentials":{"httpHeaderAuth":{"id":"gTkvNdugG9pmEHKS","name":"Cloudmersive Convert"}}},{"parameters":{"jsCode":"// Function (Code) node\nreturn items.map(item => {\n  const base64 = item.json.JpgResultPages[0].Content;\n  item.binary = {\n    imagem: {\n      data: Buffer.from(base64, 'base64'),\n      mimeType: 'image/jpeg',\n      fileName: 'Org-Imagem.jpg',\n    }\n  };\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1060,-140],"id":"2e6fb661-d610-4397-b6f8-fc92579f7cc5","name":"Ajusta para Base64"},{"parameters":{"method":"PUT","url":"https://api.github.com/repos/alvarocastro-aecrio/repo/contents/organograma-aec-rio/organograma.jpg","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"message\": \"Organograma Atualizado\",\n    \"sha\": \"{{ $json.sha }}\",\n    \"content\": \"{{ $('Converte PDF > JPG').item.json.JpgResultPages[0].Content }}\"\n  } ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-380,-280],"id":"9774e3f4-c228-424c-9949-232764848b4b","name":"Manda pro repo do Github","credentials":{"githubApi":{"id":"vrjDdwVTUfXA1ZVb","name":"GitHub alvarocastro-aecrio"}}},{"parameters":{"url":"https://api.github.com/repos/alvarocastro-aecrio/repo/contents/organograma-aec-rio/organograma.jpg","authentication":"predefinedCredentialType","nodeCredentialType":"githubApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-600,-300],"id":"fda9dc7a-82e7-47fe-bc77-506bfa621ca8","name":"Pega o sha no repo do Github","credentials":{"githubApi":{"id":"vrjDdwVTUfXA1ZVb","name":"GitHub alvarocastro-aecrio"}}},{"parameters":{"method":"POST","url":"https://graph.microsoft.com/v1.0/teams/79740b26-e9ed-4fd5-a114-59a38e2b3dda/channels/19:gCM5EBW1gc1YXLT28JJYTegCqPXqiZPEn9v19Gd_btE1@thread.tacv2/messages","authentication":"predefinedCredentialType","nodeCredentialType":"microsoftTeamsOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": {\n    \"contentType\": \"html\",\n    \"content\": \"<h1>游늵 AIRTABLE</h1><br>游논 <b>ORGANOGRAMA ATUALIZADO</b><br><br><b>Aten칞칚o</b> <at id='0'>Todos</at><br><br><i>Nan치 Bot na 치rea! O arquivo {{ $json.content.name }} foi atualizado e j치 est치 dispon칤vel em <br><br><a href='{{ $json.content.download_url }}'>{{ $json.content.download_url }}</a><br></i><br><br></blockquote><small><i>Esta publica칞칚o n칚o foi feita pela Sra. Dinalva, mas sim pela Nan치 Bot, um rob칪 automatizado que utiliza a conta dela./small></i>\"\n  },\n  \"mentions\": [\n    {\n      \"id\": 0,\n      \"mentionText\": \"Todos\",\n      \"mentioned\": {\n        \"conversation\": {\n          \"id\": \"19:gCM5EBW1gc1YXLT28JJYTegCqPXqiZPEn9v19Gd_btE1@thread.tacv2\",\n          \"displayName\": \"Todos\",\n          \"@odata.type\": \"microsoft.graph.teamworkConversationIdentity\",\n          \"conversationIdentityType\": \"channel\"\n        }\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-40,-280],"id":"812bcc3a-59d6-44ca-b5f1-cd5ff429032f","name":"Nana Bot comunica no Teams","credentials":{"microsoftTeamsOAuth2Api":{"id":"H2Kla2tXNOrUrYbg","name":"Microsoft Teams Dinalva"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"event":"fileUpdated","watch":"selectedFile","fileId":{"__rl":true,"value":"01RUPP5KCT4JOSSEVADNF2NOUNJWIWHRNQ","mode":"id"}},"type":"n8n-nodes-base.microsoftOneDriveTrigger","typeVersion":1,"position":[-1440,-220],"id":"1f98ce44-dd34-499c-bd63-3f42eb515758","name":"Monitora atualiza칞칚o do arquivo no Onedrive","credentials":{"microsoftOneDriveOAuth2Api":{"id":"fLY9mh5n778dkLFB","name":"Microsoft Onedrive Alvaro"}}},{"parameters":{"content":"## Processo de Convers칚o","height":500,"width":480,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1240,-460],"id":"337f0b2d-76d5-454e-a615-3f6a1e410978","name":"Sticky Note"},{"parameters":{"content":"## Github","height":320,"width":480,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-680,-380],"id":"441556a5-87e5-4fcd-99f3-872f4af643b9","name":"Sticky Note1"},{"parameters":{"content":"## Comunica칞칚o\n","height":320,"width":300},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-140,-380],"id":"e6ddfa5b-d1d1-42f1-87ce-0199ddec3700","name":"Sticky Note2"}],"connections":{"Baixa Organograma em PDF do Onedrive":{"main":[[{"node":"Converte PDF > JPG","type":"main","index":0}]]},"Converte PDF > JPG":{"main":[[{"node":"Ajusta para Base64","type":"main","index":0}]]},"Ajusta para Base64":{"main":[[{"node":"Pega o sha no repo do Github","type":"main","index":0}]]},"Pega o sha no repo do Github":{"main":[[{"node":"Manda pro repo do Github","type":"main","index":0}]]},"Manda pro repo do Github":{"main":[[{"node":"Nana Bot comunica no Teams","type":"main","index":0}]]},"Nana Bot comunica no Teams":{"main":[[]]},"Monitora atualiza칞칚o do arquivo no Onedrive":{"main":[[{"node":"Baixa Organograma em PDF do Onedrive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Microsoft OneDrive Trigger":{"LastLink":"https://graph.microsoft.com/v1.0/me/drive/root/delta?token=NDslMjM0OyUyMzE7MztkOTc2NWU1ZS1mYmE4LTRkYjItYWVhNy05OGRkM2JkOTFjMTg7NjM4ODAxMjA1ODY5MjcwMDAwOzQ3NTE3MzgyMDslMjM7JTIzOyUyMzA7JTIz","lastTimeChecked":"2025-04-13T05:57:40.707Z"},"node:Monitora atualiza칞칚o do arquivo no Onedrive":{"LastLink":"https://graph.microsoft.com/v1.0/me/drive/root/delta?token=NDslMjM0OyUyMzE7MztkOTc2NWU1ZS1mYmE4LTRkYjItYWVhNy05OGRkM2JkOTFjMTg7NjM4ODAxNTgyODQxMDcwMDAwOzQ3NTIwMjIwMzslMjM7JTIzOyUyMzA7JTIz","lastTimeChecked":"2025-04-13T16:25:02.474Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"75380668-19e3-4554-ab17-215fa72e3949","triggerCount":1,"tags":[{"createdAt":"2025-04-13T05:01:53.417Z","updatedAt":"2025-04-13T05:01:53.417Z","id":"swZ3GoBxFG8Hf0rd","name":"Airtable"}]}